.secondscreen, .thirdscreen{
  display: none;
  margin-bottom: 10px;
}

.firstscreen{
  background-image: url("http://getwallpapers.com/wallpaper/full/f/b/5/1100326-download-cool-dark-backgrounds-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;direction: column;
  padding: 120px;
  color: white;
  text-align: center;
  font-size: x-large;
  border-radius: 5px;
  margin-bottom: 10px;
}

.thirdscreen{
  text-align: center;
  background-color: silver;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.jumbotron{
  display: flex;
  padding: 10px;
  background-color: black;
  margin-bottom: 10px;
  color: white;
}

.jumbotron img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-right: 10px;
  margin-top: -5px;
}

.float{
  float: left;
}

.card{
  display: none;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 3px grey;
  font-family: "cursive";
  text-align: center;
}

#click{
  font-style: italic;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px white;
}

strong{
  color: darkgrey;
}

.card-header{
  font-weight: bold;
  font-family: monospace;
  color: #007bff;
}

.class1, .name1, .admission1{
  font-weight: normal;
  font-style: italic;
  color: black;
  font-family: "fantasy";
}

#tally{
  font-size: x-large;
}

#celebration{
  vertical-align: middle;
}

#title{
  text-decoration: underline;
}

.questions> ol > li{
  padding: 10px;
}

.col-md-4{
  margin-top: 10px;
}

#list{
    margin-bottom: 10px;
}

@media only screen and (min-width: 812px) {
  #response{
    position: fixed;
    right: 0;
  }
}
